click==6.6
cozmo==0.8.1
cozmoclad==1.0.3
enum34==1.1.6
Flask==0.11.1
future==0.16.0
gevent==1.2a1
greenlet==0.4.10
grpcio==1.0.1
grpcio-tools==1.0.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.8
numpy==1.11.2
oauthlib==2.0.0
Pillow==3.4.2
protobuf==3.1.0.post1
pyzmq==16.0.1
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
Werkzeug==0.11.11
